<?xml version="1.0" encoding="utf-8" ?>

<!--Вся конфигурация для взаимодействия со сторонним АПИ-->
<configuration>
	<appSettings>
		<!-- Локальный путь АПИ для редиректа от внешнего АПИ-->
		<add key="LocalPathAuthorize" value="https://localhost:44203/api/Based/GetAuthorization" />
		<!-- Хост внешенего АПИ -->
		<add key="RemoteHost" value="rabota.by"/>
		<!--Путь внешного АПИ для аутентификации-->
		<add key="RemotePathAuthorize" value="/oauth/authorize"/>
		<!--Путь внешнего АПИ для получения токена-->
		<add key="RemotePathGetToken" value="/oauth/token"/>
		<!--Тип аутентификации => параметр на первом этапе-->
		<add key ="ParamForFirstEtapAuthorizeResponse_Code" value="code"/>
		<!--Статические данные=> Client_id моего приложения-->
		<add key="ParamClient_Id" value="U70AUEUE8HH3RLQ7A59M7ELBUH06LHE6SDM7LLR9HGI7I93A1PTR7NSLIESLPHN4"/>
		<!--Статические данные=> Client_secret моего приложения-->
		<add key="ParamClient_secret" value="V2F7OJ3522JCUU9245TBOMJ8ENJMGNEC2HF81RFCSN3SAKOSR418UR97DTOF63D1"/>
		<!--Тип авторизации => параметр на этапе получения токена-->
		<add key="ParamForGetTokenGrant_Type" value="authorization_code"/>
		<!--Тип замены токена по истечению предыдущего-->
		<add key="ParamForRefreshTokenGrant_type" value="refresh_token"/>
		<!--Статические данные моего проиложения, добавляются в header запроса после этапа авторизации-->
		<add key="HH-User-Agent" value="ExamProject/1.0 (makavchik1.19@gmail.com)"/>
		<!--Запросы после авторизации должны идти сюда в основной сторонний АПИ-->
		<add key="RemoteHostForFollowingRequestMainApi" value="api.hh.ru"/>
		<!--При запросе в основной АПИ, указывает доп. host-->
		<add key="AddHostForRequest" value="rabota.by"/>
		<!--Путь для получения данные по user из стороннего АПИ-->
		<add key="PathDataUser" value="/me"/>
		<!--Параметр обновления данных пользователя first_name -->
		<add key="ParamUpdateFirstName" value="first_name"/>
		<!--Параметр обновления данных пользователя last_name -->
		<add key="ParamUpdateLastName" value="last_name"/>
		<!--Параметр обновления данных пользователя middle_name -->
		<add key="ParamUpdateMiddleName" value="middle_name"/>
		<!--Путь внешнего АПИ по поиску вакансии-->
		<add key="SearchPath" value="vacancies"/>
		<!--Параметр=> поиск вакансий по Беларуси-->
		<add key="SearchNameParamArea" value="area"/>
		<!--Статические значение параметра-->
		<add key="SearchAreaValue" value="16"/>
		<!--Параметр => искомая вакансия-->
		<add key="SearchNameParamText" value="text"/>
		<!--Конструктор для создания запроса вакансии-->
		<add key="SearchPartTextValue" value="NAME:VAR1 and DESCRIPTION:VAR2"/>
		
			
	</appSettings>
</configuration>
